/* переменные */

:root {
  --txt-main-color: #757575;
  --txt-title-color: #212121;
  --txt-dark-bg-color: #ffffff;
  --bg-main-color: #ffffff;
  --bg-dark-color: #2f303a;
  --bg-gray-color: #f5f4fa;
  --icon-color: #afb1b8;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --border-color: #eeeeee;

  --grid-item: 4;

  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* сброс стилей */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;

  transition: color var(--time) var(--timing-function);
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
  clip: rect(1ps, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* common stiles */

body {
  position: relative;
  background-color: var(--bg-main-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-main-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* site logo */

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

.page-header .logo {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-right: 93px;
}

.page-footer .logo {
  margin-bottom: 20px;
}

/* buttons */

.button {
  padding: 0;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--txt-dark-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--timing-function);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--second-accent-color);
}

.btn-filter {
  padding: 6px 22px;
  background-color: var(--bg-gray-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--txt-dark-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* header */

.page-header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list,
.contact-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--txt-title-color);
}

.nav-item .link.current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.contact-link .icon {
  margin-right: 10px;
  fill: currentColor;
}

/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-block {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-block:last-child {
  flex-basis: calc(50% - 15px);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
}

.subscribe-container {
  display: flex;
}

.subscribe input {
  flex: 1;
  margin-right: 12px;
  min-width: 200px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe ::placeholder {
  color: inherit;
}

.subscribe .btn-submit .icon {
  margin-left: 10px;
  fill: currentColor;
}

/* main content */

.title {
  font-weight: 700;
  color: var(--txt-title-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-hero {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-dark-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.about-item,
.portfolio-item {
  --grid-item: 3;
}

.clients-item {
  --grid-item: 6;
}

.features-section {
  padding-bottom: 0px;
}

.features-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-item {
  position: relative;
}

.about-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
  text-align: center;
}

.team-section {
  background-color: var(--bg-gray-color);
}

.team-item {
  width: 270px;
  background-color: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding: 30px 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--txt-title-color);
}

.team-member-position {
  margin-bottom: 16px;
}

.social-list {
  display: inline-flex;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--time) var(--timing-function);
}

.social-link .icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill var(--time) var(--timing-function);
}

.dark-bg .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-bg .social-link .icon {
  fill: var(--txt-dark-bg-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--txt-dark-bg-color);
}

.clients-item {
  height: 90px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--time) var(--timing-function);
}

.clients-link .icon {
  fill: var(--icon-color);

  transition: fill var(--time) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item {
  width: 370px;

  transition: box-shadow var(--time) var(--timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  width: 100%;
  height: 100%;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--txt-dark-bg-color);

  transition: transform var(--time) var(--timing-function);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translatey(-100%);
}

.portfolio-desc {
  padding: 20px 24px;
  background-color: var(--bg-main-color);
  border: 1px solid var(--border-color);
  border-top: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-main-color);
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* переопределение цветов */
.dark-bg .title,
.dark-bg .button,
.dark-bg .logo,
.dark-bg .post-address {
  color: var(--txt-dark-bg-color);
}

.dark-bg .address-item {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--accent-color);
}

/* модальное окно */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;
  background-color: var(--bg-main-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border var(--time) var(--timing-function);
}

.form-field.textarea {
  margin-bottom: 20px;
}

.form-input.textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-input.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--txt-title-color);
  pointer-events: none;

  transition: fill var(--time) var(--timing-function);
}

.form-field:focus-within > .form-input {
  border-color: var(--accent-color);
}

.form-field:focus-within > .icon {
  fill: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox .link {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: underline;

  transition: color var(--time) var(--timing-function);
}

.checkbox .link:hover,
.checkbox .link:focus {
  color: var(--second-accent-color);
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--txt-title-color);
  border-radius: 2px;

  transition: background-color var(--time) var(--timing-function),
    border-color var(--time) var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form .btn-submit {
  margin-right: auto;
  margin-left: auto;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;

  transition: fill var(--time) var(--timing-function);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: var(--accent-color);
}
